<nav id="gridFilterPanel" class="gridFilterPanelTheme">
		<ul>
		    <li>
		         <label>
		            <input type="checkbox" [(ngModel)]="isBroadbandChecked" (ngModelChange)='onCheckBoxClick()'> {{broadbandLabel}}
		        </label>
		    </li>
			<li> 
				<label>
					<input type="checkbox" [(ngModel)]="isTvChecked" (ngModelChange)='onCheckBoxClick()'> {{tvLabel}}
				</label>
			</li>
			<li> 
				<label>
					<input type="checkbox" [(ngModel)]="isMobileChecked" (ngModelChange)='onCheckBoxClick()'> {{mobileLabel}}
				</label>
			</li>
		</ul>
</nav>