@media screen and (max-width: 3000px) {
        .gridFilterPanel {
            background-color: #dedede;
            float: left;
            padding-right: 10px;
            height: 100vh;
            position: relative;
            left: 40px;
            margin-right: 70px;
        }
    }
    