<nav class ="gridFilterPanel">
		<ul>
		    <li>
		         <label>
		            <input type="checkbox" [(ngModel)]="isBroadbandChecked" (ngModelChange)='onClick()'> {{broadbandLabel}}
		        </label>
		    </li>
			<li> 
				<label>
					<input type="checkbox" [(ngModel)]="isTvChecked" (ngModelChange)='onClick()'> {{tvLabel}}
				</label>
			</li>
			<li> 
				<label>
					<input type="checkbox" [(ngModel)]="isMobileChecked" (ngModelChange)='onClick()'> {{mobileLabel}}
				</label>
			</li>
		</ul>
</nav>