<grid-filter (filterClicked)='onFilterClicked($event)'></grid-filter>
<table>
    <tr>
        <th>{{about}}</th>
        <th>{{contractLength}}</th>
        <th>{{speedUsage}}</th>
        <th>{{offer}}</th>
        <th>{{tv}}</th>
        <th>{{mobile}}</th>
        <th>{{cost}}</th>
    </tr>
    <tr *ngFor="let deal of dealsResponse | dealFilterPipe">
        <td>{{deal.title}}</td>
        <td>{{deal.contractLength | contractLengthPipe}}</td>
        <td>{{deal.speed.label}} {{deal.usage.label}}</td>
        <td><img src="{{deal.offer.smallLogo}}"></td>
        <td>{{tv}}</td>
        <td>{{deal.mobile}}</td>
        <td>{{cost}}</td>
    </tr>
</table>
